<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <application android:networkSecurityConfig="@xml/network_security_config">
        <!-- Screenshot/development adb extras are available only in debug builds. -->
        <activity android:name=".ui.SettingsActivity"
            android:exported="true" tools:replace="android:exported" />
    </application>
</manifest>
